body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

paper-toolbar.paper-toolbar-0 {
	background: #2875e2;
}

#dmstatus {
	margin-top: 2%;
	color: white;
}

#bpscstatus {
	margin-top: 2%;
	color: white;
}