body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

paper-toolbar.paper-toolbar-0 {
	background: #2875e2;
}

#dmstatus {
	margin-top: 2%;
	color: white;
}

#bpscstatus {
	margin-top: 2%;
	color: white;
}

.title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 30px;
}

.section {
	width: 60%;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
}

.positiveQ {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}